* {
	box-sizing: border-box;
}

#carousel {
	margin: 30vh auto;
	padding: 0;
	width: 400px;
	height: 284px;
	overflow: hidden;
	border: 5px solid white;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);

	.move {
		position: absolute;
		width: 40px;
		height: 284px;
		background-color: rgba(0,0,0,0.5);
		opacity: 0;
		content: '';
		text-align: center;
		cursor: pointer;
		transition: all .6s;

		i {
			margin: 122px 0;
			font-size: 40px;
			color: rgba(255,255,255,0.5);
		}
	}

	.move-left {		
		margin-top: -5px;
		margin-left: -5px;		
	}

	.move-right {
		margin-top: -5px;
		margin-left: 355px;
	}

	.controls {
		position: absolute;
		margin-top: 250px;
		margin-left: 127px;

		.dot {
			display: inline-block;
			float: left;
			margin: 0 6px;
			width: 13px;
			height: 13px;
			background-color: rgba(255,255,255,.6);
			border-radius: 50%;

			&.active-dot {
				background-color: rgba(255, 179, 26,.8);
			}
		}
	}

	.slider {
		margin: 0;
		padding: 0;
		width: 2000px;
		list-style: none;

		li {
			margin: 0;
			padding: 0;
			display: inline-block;

			img {
				width: 400px;
				height: 284px;
			}
		}
	}
}